{% extends'@admin/layout.twig' %}
{%  block title "Créer un article" %}
{% block body %}
    <h1>Ajouter un article </h1>

    <form action="{{ path('blog.admin.create') }}" method="post">

        {% include '@blog/admin/form.twig' %}

        <button class=" btn btn-primary" type="submit">Ajouter</button>



    </form>

{%  endblock %}
